.MobileMenu {
    display: none;
}

@media (max-width: 500px) {
    .MobileMenu {
        display: inline-block;
        cursor : pointer;
    }

    .MobileMenu .Bar1,
    .MobileMenu .Bar2,
    .MobileMenu .Bar3 {
        width           : 35px;
        height          : 5px;
        background-color: #333;
        margin          : 6px 0;
        transition      : 0.4s;
    }

    .MobileMenu .Change .Bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform        : rotate(-45deg) translate(-9px, 6px);
    }

    .MobileMenu .Change .Bar2 {
        opacity: 0;
    }

    .MobileMenu .Change .Bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform        : rotate(45deg) translate(-8px, -8px);
    }
}